* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--transition: all 0.3s ease;
}

body {
	font-family: 'Urbanist', sans-serif;
}

a {
	text-decoration: none;
	color: #000;
}

.slider-btn {
	padding: 10px;
	font-size: 20px;
	background-color: transparent;
	cursor: pointer;
	border: 1px solid black;
	transition: var(--transition);
	letter-spacing: 1px;
}
.slider-btn:hover {
	background-color: teal;
	color: #fff;
	border-color: teal;
}

.nav-btn,
.nav-item {
	transition: var(--transition);
}

.nav-item:hover {
	transform: scale(1.1);
}

.cate-item-btn {
	border: none;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 5px;
	cursor: pointer;
	background-color: #fff;
	color: gray;
	font-weight: bold;
}
